<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <div class="buttons">
        <!--a href="/team" title="Meet the team"><img src="/images/buttons/people.png"></a-->
        <a href="/supporting-inav" title="Support INAV"><img src="/images/buttons/patreon-icon.png"></a>
        <a href="https://github.com/iNavFlight/inav" title="INAV on GitHub" target="_blank"><img src="/images/buttons/GitHub-Mark-64px.png"></a>
        <a href="http://www.rcgroups.com/forums/showthread.php?t=2495732" title="INAV on RCGroups" target="_blank"><img src="/images/buttons/Balloon.png"></a>
        </div>
        <div class="logo"><a href="/"><img src="/images/inav-logo.png"></a></div>
        <h2>Drone Autopilot Software</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        <aside id="sidebar">
          <a href="https://github.com/iNavFlight/inav/releases" target="_blank" class="button button-download">Download <small>latest firmware</small></a>
          <a href="https://github.com/iNavFlight/inav/wiki" target="_blank" class="button button-notepad">Read <small>the documentation</small></a>
          <!--a href="http://www.rcgroups.com/forums/showthread.php?t=2495732" target="_blank" class="button button-community">Join <small>the RCGroups thread</small></a-->
          <a href="/supporting-inav" class="button button-dollar">Support <small>the development</small></a>
          
          <hr>
          
          <div class="sponsors">
          <p>INAV's development is made possible by</p>
          <p class="sponsor"><a href="http://shop.myairbot.com/" class="" target="_blank">Airbot</a></p>
          <p class="sponsor"><a href="http://www.carbonbird.com/" class="" target="_blank">CarbonBird.com</a></p>
          <p class="sponsor"><a href="http://www.adpm.pro/" class="" target="_blank">ADPM Drones Srl</a></p>
          <p>... and all the awesome patrons on <a href="https://www.patreon.com/inavflight" target="_blank">Patreon</a></p>
          </div>
        </aside>
      </div>
    </div>

  </body>
</html>